/* Google Fonts Start */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap");
/* Google Fonts End */

/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}
/* Common Css End */

/* Header Section Start */
nav {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.brand p {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.navigation li a > i {
  font-size: 23px;
  color: black;
}
/* Header Section End */
