/* Google Fonts Start */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap");
/* Google Fonts End */

/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}
/* Common Css End */

/* Header Section Start */

/* Menu bar Start */
nav {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.brand p {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.navigation li a > i {
  font-size: 23px;
  color: black;
}

/* Menu bar End */

/* Banner Start */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  align-items: center;
  margin-top: 50px;
}

.banner-heading {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
}

.banner-text {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin-top: 10px;
}

.banner-btn {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  border: none;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}

.banner-btn i {
  margin-left: 10px;
}

.banner-right {
  display: flex;
  justify-content: center;
}

.banner-right img {
  width: 70%;
  transition: transform 0.9s ease;
}

.banner-right img:hover {
  transform: scale(1.1);
}
/* Banner End */

/* Header Section End */

/* Logo Section Start */
.logo-body {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.575);
  border-bottom: 1px solid rgba(128, 128, 128, 0.575);
  padding: 30px 0;
  margin: 80px 0;
}

.logo-body img {
  transition: transform 0.4s ease-in-out;
}
.logo-body img:hover {
  transform: scale(1.1);
}
/* Logo Section End */

/* Popular Collection Start */

.popular-heading {
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 17px;
  border-radius: 8px;
}

.product-heading {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-bottom: 8px;
}

.product-price {
  font-size: 24px;
  font-weight: 400;
  color: #000000b7;
  margin-bottom: 8px;
}

.rating {
  color: #5e6366;
  margin-bottom: 5px;
}

.rating i {
  color: gold;
  margin-right: 5px;
}

.product-details {
  color: #5e6366;
  font-size: 14px;
  font-weight: 700;
}

.see-more-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.see-more-btn a {
  display: flex;
  align-items: center;
  color: #e02c6d;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.see-more-btn a > i {
  margin-left: 10px;
}

/* Popular Collection End */

/* Featured Products Section Start */
.featured-products {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  grid-column-gap: 80px;
  margin: 80px 0;
}

.featured-heading {
  font-size: 44px;
  color: #0a0826;
  font-weight: 700;
  margin-bottom: 25px;
}

.featured-text {
  font-size: 16px;
  font-weight: 700;
  color: #6c6c6c;
  padding-right: 150px;
  margin-bottom: 25px;
}

.featured-btn {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #e02c6d;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

.featured-btn i {
  margin-left: 10px;
}
/* Featured Products Section End */

/* Footer Start */
footer {
  background-color: #0a0826;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.footer-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.icon {
  margin-top: 10px;
}

.icon i {
  font-size: 18px;
  background-color: #424158;
  padding: 12px;
  border-radius: 40px;
}

/* Footer End */
